body {
  background-color: #E6E6E6;
}
h1 {
  font-family: 'Red Hat Mono', monospace;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Almarai', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
/* Nav bar */
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 8px;
}
.nav-link{
  font-size: 1.5rem;
}
.Information{
  padding: 5% 15%;
}
